header h1{
    outline: 1px solid blue;
    text-align: center;
}

.pick {
    text-align: center;
    width: 100%;
    outline: 1px solid red;
}

#mySelect {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}


.the-box{
    border: 1px solid green;
    height: 70%;
    width: 100%;
    margin: 10% auto 0 auto;
    display: table; /* makes sure the content always fits within the box */
    display: flex;
    align-items: center;
    justify-content: center;
}

.in-the-box{
    max-width: 100%;
}

.invisible {
    display: none;
}

#showcase{
    display: table;
}

@media screen and (min-width: 700px){
    .the-box{
        width: 80%;
    }
    #mySelect {
        width: 70%;
        text-align: center;
    }
}
@media screen and (min-width: 1024px){
    .the-box{
        width: 60%;
    }
    #mySelect {
        width: 50%;
        text-align: center;
    }
}

